body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
    
.navbar {
    background: #6ab446;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
    
.nav-link {
    margin-right: 1em!important;
}
    
.nav-link:hover {
    color: #000;
}
    
.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url(contoh1\ pertemuan14\ bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
}
    
.description h1 {
    color: #fff;
}

h1 {
    background-color: rgba(106, 180, 70, 0.5);
    padding-top: 8px;
    padding-bottom: 14px;
    border: 1px solid #ffffff;
}
    
.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button {
    border: 1px solid #6ab446; border-radius: 25px;
    background: #6ab446;
    color: #fff;
}

.description button:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}

features {
    margin: 4em auto;
    padding: 1em;   
    position: relative;
}

.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
    
features img {
    max-width: 200px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
}

.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

.container features col {
    margin: 100px;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
    
.footer-copyright {
    color: #666;
    padding: 40px 0;   
}

@media (max-width: 640px) {
    .description {
    left: 0;
    top: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    transform: none;
    }
    .description h1 {
    font-size: 2em;
    }
    .description p {
    font-size: 1.2rem; }
    .features {
    margin: 0;

    } 
}