
.ui-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
}
  
  .ui-menu-item {
    padding: 8px;
    color: #333;
    margin-bottom: 4px;
}

.ui-menu-item:hover,
.ui-menu-item:active {
  background-color: #f0f0f0;
}
  